/* line 1, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
body {
  color: #f6b3e5;
  background-color: #c876ff;
}

/* line 6, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
a {
  color: #f6b3e5;
  font-weight: bold;
  text-decoration: none;
}

/* line 12, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
a:hover {
  text-decoration: underline;
}

/* line 16, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.banner {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: #1A1A1A;
  border-width: 2px;
  border-style: solid;
  padding: 8px;
  margin: 1em;
}

/* line 26, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
#about_button {
  border-width: 0;
  background: none;
}

/* line 31, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
#about_opener:hover {
  cursor: pointer;
}

/* line 35, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
#about_opener:hover #about {
  display: block;
}

/* line 39, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
#about {
  display: none;
}

/* line 43, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.post_form {
  border-color: #1A1A1A;
  border-width: 2px;
  border-style: solid;
  padding: 8px;
  float: right;
  position: -webkit-sticky;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #8c53b3;
}

/* line 56, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.post_form textarea {
  width: 30em;
  height: 10em;
}

/* line 61, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.post a {
  padding: 4px;
  color: #f6b3e5;
  text-decoration: none;
  font-weight: bold;
  border-width: 2px;
  border-style: outset;
  border-color: #1A1A1A;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0.1em;
}

/* line 74, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.post a:hover {
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

/* line 80, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
input {
  padding: 4px;
  color: #f6b3e5;
  text-decoration: none;
  font-weight: bold;
  border-width: 2px;
  border-style: outset;
  border-color: #1A1A1A;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* line 92, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
input:hover {
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

/* line 98, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.post {
  color: #f6b3e5;
  border-radius: 4px;
  padding: 0.5em;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: #1A1A1A;
}

/* line 108, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.redtext {
  font-weight: bold;
  font-size: 1.5em;
  color: red;
  text-transform: uppercase;
}

/* line 115, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.threedtext {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* line 130, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.rainbowtext {
  animation: rainbow 1s infinite;
}

@keyframes rainbow {
  0% {
    color: crimson;
  }
  25% {
    color: violet;
  }
  50% {
    color: aqua;
  }
  75% {
    color: violet;
  }
  100% {
    color: crimson;
  }
}
/* line 142, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.post_content a {
  padding: 0px;
  border: none;
  background: none;
  color: cyan;
  font-weight: lighter;
}

/* line 150, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
.post_content a:hover {
  color: lightcyan;
}

/* line 154, /data/data/com.termux/files/home/OneBoard/app/assets/stylesheets/index.scss */
code {
  font-family: monospace;
  background: black;
  color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

