1b
<% def display_thread(parent=nil) %>
	<div class="post">
		<%= parent&.message %><br/>
		<% Post.where(parent: parent).each do |post| %>
			<% display_thread(post) %><br/>
		<% end %>
	</div>
<% end %>
<% display_thread() %>
