body {
	color: #f6b3e5;
	background-color: #c876ff;
}

.banner {
	text-align: center;
}

.post_form {
	border-color: #1A1A1A;
	border-width: 2px;
	border-style: solid;
	padding: 8px;
	float: right;
	position: -webkit-sticky;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #8c53b3;
}
.post_form textarea {
	width: 30em;
	height: 10em;
}

a {
	padding: 4px;
	color: #f6b3e5;
	text-decoration: none;
	font-weight: bold;
	border-width: 2px;
	border-style: outset;
	border-color: #1A1A1A;
	background-color:rgba(0,0,0,.2);
	border-radius: 4px;
}

input {
	padding: 4px;
	color: #f6b3e5;
	text-decoration: none;
	font-weight: bold;
	border-width: 2px;
	border-style: outset;
	border-color: #1A1A1A;
	background-color:rgba(0,0,0,.2);
	border-radius: 4px;
}

a:hover {
	border-style: solid;
	background-color:rgba(0,0,0,.04);
	cursor: pointer;
}

input:hover {
	border-style: solid;
	background-color:rgba(0,0,0,.04);
	cursor: pointer;
}

.post {
	color: #f6b3e5;
	border-radius: 4px;
	padding: 8px;
	border-width: 2px;
	border-style: solid;
	/*background-color: #a46895;)*/
	background-color:rgba(0,0,0,.2);
	border-color: #1A1A1A;
}
